mainmenu "Mimik (Alpha)"

source "config/build.kconfig"
source "config/defaults.kconfig"

source "boot/Kconfig"
source "bin/Kconfig"
source "include/Kconfig"
source "share/Kconfig"
source "usr.bin/Kconfig"
source "usr.lib/Kconfig"
