menu "usr.bin/ - non-essential user binaries"
	config USR_BIN_UNAME
		bool "uname"
		help
			Print system identification information
		imply SHARE_LOCALE_EN_CA_UTF8_MAN_UTILITY_UNAME

	config USR_BIN_TTY
		bool "tty"
		help
			Get user's terminal name
		imply SHARE_LOCALE_EN_CA_UTF8_MAN_UTILITY_TTY
endmenu
