menu "utility/ -- Utility manuals"
	config SHARE_LOCALE_EN_CA_UTF8_MAN_UTILITY_UNAME
		bool "uname"

	config SHARE_LOCALE_EN_CA_UTF8_MAN_UTILITY_TTY
		bool "tty"

	config SHARE_LOCALE_EN_CA_UTF8_MAN_UTILITY_HEAD
		bool "head"
endmenu
