menuconfig INCLUDE
	bool "include/ -- Source language include files"
if INCLUDE
	config INCLUDE_MIO_H
		bool "mio.h"
		help
			The Mimik Object format

	config INCLUDE_ZIO_H
		bool "zio.h"
		help
			Alternative encoding file i/o
endif
