menuconfig INCLUDE
	bool "include/ -- Source language include files"
if INCLUDE
	config INCLUDE_MIO_H
		bool "mio.h"
		help
			The Mimik Object format

	config INCLUDE_MBR_H
		bool "mbr.h"
		help
			The Master Boot Record partitioning format
endif
